{% extends 'base.html' %}

{% block content %}
<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, veritatis
            aspernatur reiciendis quia reprehenderit placeat. Itaque odio beatae
            dignissimos eligendi officia laudantium, voluptatibus nesciunt praesentium
            animi corporis iure, alias natus rem debitis nobis provident cumque quos. Id
            perspiciatis eaque cum saepe magni, beatae illo, accusamus, reprehenderit
            repudiandae ut voluptas placeat vel! Modi deserunt labore earum consequatur
            iusto tempora, vero incidunt fugiat enim sed necessitatibus exercitationem
            fugit totam illo minus impedit itaque repudiandae explicabo, voluptas
            doloribus esse voluptates sit maxime. Eveniet laborum, culpa ratione non
            fugit cumque debitis nobis doloribus quibusdam minima. Iste nostrum dolore
            voluptate, illum ad ducimus aspernatur error.
        </p>
        <button class="btn btn-primary">Signin</button>
        <button></button>
    </section>
</main>
{% endblock %}