{% extends 'ProyectoWebApp/base.html' %}
{% comment %} llamar la base mediante herencia de plantilla {% endcomment %}

{% load static %}
{% comment %} cargar el contenido de static {% endcomment %}

{% comment %} Inicio de contenido {% endcomment %}
{% block content%}
<div class="container-fluid">
    <div style="float: right;">
        <!-- <p style="color: white;"></p> -->
        {% if request.user.is_authenticated %}
            {% include "carro/widget.html" %}
        {% else %}
            <p class="alert alert-danger text-center">Login para ver carro</p>
        {% endif %}
    </div>
    <div class="row">
        {% for producto in productos %}
            <div class="col-md-3">
                <div class="card" style=" margin: 5px 5px">
                    <img src="{{producto.imagen.url}}" class="card-img-top">
                    <div class="card-body">
                        <h6 class="card-title">{{producto.nombre}}</h6>
                        <p class="card-text">{{producto.precio}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'carro:Agregar' producto.id %}" class="btn btn-success">Agregar</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}