{% extends 'ProyectoWebApp/base.html' %}
{% comment %} llamar la base mediante herencia de plantilla {% endcomment %}

{% load static %}
{% comment %} cargar el contenido de static {% endcomment %}

{% comment %} Inicio de contenido {% endcomment %}
{% block content %}

<div class="contenerdorFormulario">
    {% if "valido" in request.GET %}
        <p style="color: aliceblue;">Información enviada correctamente</p>
    {% endif %}
    <form action="" method="POST" style="text-align: center;">
        <table style="color:white; margin: 20px auto;">
            {% csrf_token %}
            {{miFormulario.as_table}}
        </table>
        <input type="submit" value="Enviar" style="width: 150px;">
    </form>        
</div>

{% endblock %}